.Rproj.user
.Rhistory
.RData
.Ruserdata
mapSpain.Rcheck/
mapSpain*.tar.gz
mapSpain*.tgz
Meta
CRAN-RELEASE
cran-comments.md
revdep
dev
doc
docs
figure
inst/doc
/doc/
/Meta/
.Rapp.history
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
docs/
/*.pdf
CRAN-SUBMISSION
.github/pkg.lock
