on:
  workflow_dispatch:

name: Clean pkgdown manually

jobs:
  pkgdown-gh-pages-manual:
    runs-on: windows-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::pkgdown
            any::reactable
            any::GADMTools
            any::rnaturalearth
            any::tidyverse
            any::styler
            ropensci/rnaturalearthhires
            ropenspain/rostemplate
          needs: website

      - name: Deploy package
        run: |
          git config --local user.name "dieghernan"
          git config --local user.email "dieghernan@users.noreply.github.com"
          Rscript -e 'pkgdown::deploy_to_branch(new_process = FALSE, clean = TRUE, run_dont_run = TRUE)'
